{% load static %}
<hr>
<nav class="relative w-screen p-2">
    <div class="flex items-center justify-between">
        <div>
            <img class="pt-2 h-20"
            src="{% static 'frontend/media/logo3.png'%}"
            alt="logo">
        </div>
        <div class="hidden md:flex space-x-6 font-semibold">
            <a href="#" class="text-gray-600 hover:text-gray-900">About</a>
            <a href="#" class="text-gray-600 hover:text-gray-900">Teams</a>
            <a href="#" class="text-gray-600 hover:text-gray-900">Pricing</a>
            <a href="#" class="text-gray-600 hover:text-gray-900">Contact</a>
            <a href="#" class="text-gray-600 hover:text-gray-900">Github</a>
            <a href="#" class="text-gray-600 hover:text-gray-900">Tutorial</a>


        </div>
        <div class="hidden md:flex space-x-1 font-semibold">
            <a href="#" class="text-gray-600 hover:text-gray-900 p-3 pt-2">Login</a>
            <a href="#" class="p-3 pt-2 px-4 text-white bg-gray-800 rounded-full baseline
            hover:bg-green-500 hover:text-black font-bold">Get Started</a>
        </div>
    </div>
    <hr>
</nav>
<!-- <div  class="flex justify-between bg-gray-700">
    <div class="flex space-x-8 mt-5 mb-0 items-center ">


        <a href="#" class="text-white hover:text-gray-100 text-xl">About</a>
        <a href="#" class="text-white hover:text-gray-100 text-xl">Teams</a>
    </div>
    <div class=" flex space-x-8 m-5 mb-0 items-center">
        <a href="#" class="text-white hover:text-gray-100 text-xl">Login</a>
    </div>
</div> -->

